# 全てを管理対象から除外する
/*
/.*

# 管理対象にしたいファイルだけignoreから除外する
!/.vim
!/.vimrc
!/.config
!/.ctags
!/.zshrc
!/.zsh
!/bin
!/.config
!/README.md

# 管理対象のディレクトリ内でも除外したいものはこの下に追加する
.vim/dein/.cache
.vim/dein/repos
.DS_Store
.svn
*.pyc
.netrwhist
.*.un~
*.swp
# symlinkを排除
.vim/init.vim
