" 参考
" https://qiita.com/iwaseasahi/items/4b19bdf1885801649460
" https://ikenox.info/2017-12-25-ideavim-introduction/
" ---------- set variables
" ヤンクでクリップボードにコピー
set clipboard+=unnamed

" 検索するときに大文字小文字を区別しない
set ignorecase

" 検索時に大文字を含んでいたら大/小を区別
set smartcase

" インクリメンタル検索 (検索ワードの最初の文字を入力した時点で検索が開始)
set incsearch

" 検索対象をハイライト
set hlsearch

" 対応する括弧を強調表示
set showmatch

" ウィンドウの右下にまだ実行していない入力中のコマンドを表示
set showcmd

" ---------- set keymaps
" IDEの折り畳みを無効
nnoremap zM <Nop>
nnoremap zc <Nop>
nnoremap zC <Nop>
nnoremap zR <Nop>
nnoremap zo <Nop>
nnoremap zO <Nop>

" ジャンプ履歴の進む、戻るをIDEのものに
nnoremap <C-o> :<C-u>action Back<CR>
nnoremap <C-i> :<C-u>action Forward<CR>

" fzfのgrep的なもの
nnoremap <C-g> :<C-u>action FindInPath<CR>

" fzfのファイル検索にプラスその他したやつ
nnoremap <C-p> :<C-u>action SearchEverywhere<CR>

" 定義元へジャンプ
nnoremap <C-]> :<C-u>action GotoDeclaration<CR>

" terminalを表示
nnoremap <C-t> :<C-u>action ActivateTerminalToolWindow<CR>

nnoremap <C-e> : :<C-u>action SelectIn<CR>

" ----- refactor系
nnoremap [refactor]   <Nop>
nmap <Space>r [refactor]

nnoremap [refactor]r :<C-u>action RenameElement<CR>
nnoremap [refactor]u :<C-u>action FindUsages<CR>


